# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenv
venv/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Ambiente / segredos
.env

# Editores
.vscode/
.idea/
*.swp
.DS_Store
